body {
	background-color:	#555555;
}

p {
	margin		:	20px;
	font-family	:	"Courier New";
}

h1 {
	margin		:	50px 0 0 0;
	font-family	:	"Arial Narrow";
}

.marco {
	margin		:	20px;
	padding		:	20px;
	
}

.circle-image {
	margin		:	20px;
	padding		:	20px;
	border-radius	:	50%;
	object-fit	:	cover;
}

.textbox {
	margin		:	20px;
	padding		:	20px;
	background-color:	
}
