@import "functions"; 
@import "variables";

$primary: $orange; // set the $primary variable

// merge with existing $theme-colors map
$theme-colors: map-merge($theme-colors, (
  "primary": $primary
));

// set changes
@import "bootstrap";

body {
	background-color:	#555555;
	image-rendering	:	pixelated;
}

p {
	margin		:	10px;
	font-family	:	"Courier New";
	font-size	:	0.5vw;
	vertical-align	:	top;
}

h1 {
	margin		:	20px 0 0 0;
	font-family	:	"Arial Narrow";
	font-size       :       5vw;
	vertical-align  :       top;
}

h2 {
	margin          :       15px;
        font-family     :       "Arial Narrow";
        font-size       :       4vw;
        width   : 500px;
}

h3 {
	margin          :       10px;
        font-family     :       "Arial Narrow";
        font-size       :       2vw;
        width   : 500px;
}

.marco {
	margin		:	20px;
	padding		:	20px;
	border-radius	:	50px;
}

.circle-image {
	margin		:	10px;
	padding		:	20px;
	border-radius	:	50%;
	object-fit	:	cover;
	width		:	40vw;
}

.boxcont {
  margin    : 0px;
  padding   : 0px;
  display   : flex;
  align-items :  center;
}

.textbox {
	margin		:	10px;
	padding		:	10px;
	background-color:	#909090;
	border-radius	:	50px;
	align-items	:	right;
}

.text-image {
        margin          :       5px;
        padding         :       0px;
        border-radius   :       50px;
        display         :       flex;
        align-items	:	center;
}
